In [2]:
"""
This code loads a CSV file named big_five_dataset_08.csv into a Pandas DataFrame. 
It then selects the columns from EXT1 to EXT10 
and converts their values to the float type to ensure accurate calculations. 
In the next step, it sums the values of these ten columns 
for each row and stores the result in a new column named sum_EXT. 
This new column is inserted directly after the CON10 column in the data structure. 
Finally, the code saves the updated DataFrame 
to a new CSV file named big_five_dataset_08_with_sum_EXT.csv.
"""

import pandas as pd

# Path
df = pd.read_csv("C:\\Users\\user\\Documents\\Dydaktyka\\Analiza_Danych_w_Pythonie\\big_five_dataset_08.csv")
df

,ID,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,...,CON1,CON2,CON3,CON4,CON5,CON6,CON7,CON8,CON9,CON10
0,1,5.0,3.0,4.0,4.0,2.0,1.0,3.0,4.0,2.0,...,4.0,2.0,4.0,3.0,1.0,3.0,3.0,3.0,3.0,3.0
1,2,5.0,2.0,4.0,3.0,3.0,2.0,2.0,4.0,3.0,...,5.0,3.0,3.0,2.0,3.0,1.0,1.0,1.0,2.0,3.0
2,3,4.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,3.0,...,4.0,3.0,3.0,2.0,3.0,4.0,3.0,3.0,3.0,3.0
3,4,4.0,3.0,3.0,3.0,2.0,4.0,4.0,3.0,3.0,...,5.0,2.0,3.0,3.0,3.0,4.0,3.0,4.0,4.0,5.0
4,5,4.0,2.0,3.0,4.0,3.0,1.0,4.0,4.0,4.0,...,4.0,4.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,5.0,4.0,5.0,4.0,2.0,1.0,3.0,3.0,4.0,...,5.0,2.0,3.0,5.0,2.0,5.0,3.0,3.0,4.0,4.0
146,147,5.0,2.0,5.0,3.0,2.0,2.0,4.0,4.0,4.0,...,5.0,4.0,4.0,2.0,3.0,5.0,2.0,3.0,1.0,2.0
147,148,4.0,3.0,3.0,4.0,3.0,2.0,3.0,3.0,4.0,...,5.0,3.0,4.0,3.0,4.0,2.0,4.0,3.0,3.0,2.0
148,149,4.0,3.0,3.0,4.0,3.0,1.0,3.0,4.0,3.0,...,4.0,3.0,2.0,4.0,3.0,3.0,3.0,3.0,4.0,4.0
149,150,4.0,3.0,2.0,3.0,4.0,5.0,3.0,3.0,3.0,...,5.0,2.0,5.0,3.0,2.0,4.0,3.0,3.0,5.0,4.0

In [3]:
# Change into float
ext_cols = [f'EXT{i}' for i in range(1, 11)]
df[ext_cols] = df[ext_cols].apply(pd.to_numeric, errors='coerce')
df[ext_cols]

     EXT1  EXT2  EXT3  EXT4  EXT5  EXT6  EXT7  EXT8  EXT9  EXT10
0     5.0   3.0   4.0   4.0   2.0   1.0   3.0   4.0   2.0    3.0
1     5.0   2.0   4.0   3.0   3.0   2.0   2.0   4.0   3.0    3.0
2     4.0   3.0   3.0   3.0   3.0   2.0   3.0   2.0   3.0    3.0
3     4.0   3.0   3.0   3.0   2.0   4.0   4.0   3.0   3.0    2.0
4     4.0   2.0   3.0   4.0   3.0   1.0   4.0   4.0   4.0    4.0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
145   5.0   4.0   5.0   4.0   2.0   1.0   3.0   3.0   4.0    3.0
146   5.0   2.0   5.0   3.0   2.0   2.0   4.0   4.0   4.0    3.0
147   4.0   3.0   3.0   4.0   3.0   2.0   3.0   3.0   4.0    2.0
148   4.0   3.0   3.0   4.0   3.0   1.0   3.0   4.0   3.0    3.0
149   4.0   3.0   2.0   3.0   4.0   5.0   3.0   3.0   3.0    4.0

[150 rows x 10 columns]

In [4]:
# Sum of EXT
df['sum_EXT'] = df[ext_cols].sum(axis=1)
df['sum_EXT']

0      31.0
1      31.0
2      29.0
3      31.0
4      33.0
       ...
145    34.0
146    34.0
147    31.0
148    31.0
149    34.0
Name: sum_EXT, Length: 150, dtype: float64

In [5]:
# Move 'sum_EXT' after 'CON10'
con10_index = df.columns.get_loc('CON10')
cols = list(df.columns)
cols

['ID',
 'EXT1',
 'EXT2',
 'EXT3',
 'EXT4',
 'EXT5',
 'EXT6',
 'EXT7',
 'EXT8',
 'EXT9',
 'EXT10',
 'OPN1',
 'OPN2',
 'OPN3',
 'OPN4',
 'OPN5',
 'OPN6',
 'OPN7',
 'OPN8',
 'OPN9',
 'OPN10',
 'EST1',
 'EST2',
 'EST3',
 'EST4',
 'EST5',
 'EST6',
 'EST7',
 'EST8',
 'EST9',
 'EST10',
 'AGR1',
 'AGR2',
 'AGR3',
 'AGR4',
 'AGR5',
 'AGR6',
 'AGR7',
 'AGR8',
 'AGR9',
 'AGR10',
 'CON1',
 'CON2',
 'CON3',
 'CON4',
 'CON5',
 'CON6',
 'CON7',
 'CON8',
 'CON9',
 'CON10',
 'sum_EXT']

In [6]:
# Move 'sum_EXT' into the right place
cols.insert(con10_index + 1, cols.pop(cols.index('sum_EXT')))
df = df[cols]
df

,ID,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,...,CON2,CON3,CON4,CON5,CON6,CON7,CON8,CON9,CON10,sum_EXT
0,1,5.0,3.0,4.0,4.0,2.0,1.0,3.0,4.0,2.0,...,2.0,4.0,3.0,1.0,3.0,3.0,3.0,3.0,3.0,31.0
1,2,5.0,2.0,4.0,3.0,3.0,2.0,2.0,4.0,3.0,...,3.0,3.0,2.0,3.0,1.0,1.0,1.0,2.0,3.0,31.0
2,3,4.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,3.0,...,3.0,3.0,2.0,3.0,4.0,3.0,3.0,3.0,3.0,29.0
3,4,4.0,3.0,3.0,3.0,2.0,4.0,4.0,3.0,3.0,...,2.0,3.0,3.0,3.0,4.0,3.0,4.0,4.0,5.0,31.0
4,5,4.0,2.0,3.0,4.0,3.0,1.0,4.0,4.0,4.0,...,4.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,3.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,5.0,4.0,5.0,4.0,2.0,1.0,3.0,3.0,4.0,...,2.0,3.0,5.0,2.0,5.0,3.0,3.0,4.0,4.0,34.0
146,147,5.0,2.0,5.0,3.0,2.0,2.0,4.0,4.0,4.0,...,4.0,4.0,2.0,3.0,5.0,2.0,3.0,1.0,2.0,34.0
147,148,4.0,3.0,3.0,4.0,3.0,2.0,3.0,3.0,4.0,...,3.0,4.0,3.0,4.0,2.0,4.0,3.0,3.0,2.0,31.0
148,149,4.0,3.0,3.0,4.0,3.0,1.0,3.0,4.0,3.0,...,3.0,2.0,4.0,3.0,3.0,3.0,3.0,4.0,4.0,31.0
149,150,4.0,3.0,2.0,3.0,4.0,5.0,3.0,3.0,3.0,...,2.0,5.0,3.0,2.0,4.0,3.0,3.0,5.0,4.0,34.0

In [8]:
# Write a file
df.to_csv('big_five_dataset_08_with_sum_EXT.csv', index=False)